.body{
    background: linear-gradient(to bottom, #ff7f00, #fac020)fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    color: #fff0e1;
    font-size: 25px;
    padding-top: 0px;
}
/*//////////////////////////////////*/

.blockWeather{
    display: flex;
    justify-content: center;
}
.divWeather{
    width: 400px;
    height: 250px;
    background-color: #fff3e4;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    
    
}

.btnClose{
    position: fixed;
    right: 450px;
    background-color:#fff3e4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ff7f00;
}

.divSearch{
    display: flex;
    justify-content: center;
    margin: 30px;
    
}


.country{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(53, 52, 52);
    font-weight: 1000;
    margin-left: 34px;
    margin-bottom: 11px;
}


.temp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    font-size: 35px;
    margin-left: 34px;
    margin-top: 0px;
    margin-bottom: 3px;
    color: rgb(53, 52, 52);
}


.maxMin{
    display: flex;
    margin-left: 34px;
}
.min, .max{
    color: rgb(53, 52, 52);
    font-weight: 1000;
    margin-top: 0px;
}
.max{
    margin-left: 5px;
    margin-right: 35px;
}
.arrowDown, .arrowUp{
    color: #ff7f00;
    font-weight: 2000;
}
.feelsLike{
    color: rgb(53, 52, 52);
    font-weight: 400;
}
.feelsLikeSpan{
    color: rgb(53, 52, 52);
    font-weight: 1000;
}

.wind{
    display: flex;
}

/*btn search*/
.search{
    width: 340px;
    height: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-size: 22px;
    padding-left: 20px;
    border: none;
    background-color: white;
}
.search:focus{
    outline: none;
}
form{
    display: flex;
}

.btn{
    height: 47px;
    width: 40px;
    background-color: white;
    border: none;
}
.btn:focus{
    cursor: pointer;
}
.btn:active{
    background-color: rgb(240, 239, 239);
}
.btn:focus, .btn:active{
    outline: none;
}

hr{
    width: 400px;
}